// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-(bar-main|notification|dock|panel)$"
  background-effect {
    xray false
  }
}


// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}


layout {
    gaps 10
    center-focused-column "never"
    background-color "transparent"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

default-column-width { proportion 0.5; }
focus-ring {
  on
    width 1
    active-color "#cba6f7"
    inactive-color "#585b70"
    urgent-color "#f38ba8"
}

border {
  off
    width 1
    active-color "#cba6f7"
    inactive-color "#585b70"
    urgent-color "#f38ba8"
}

shadow {
    on
    softness 8
    spread 2
    offset x=0 y=6
    color "#00000070"
}

    struts { }


}



/* Apps: blur them all without xray so it looks more realistic. */
window-rule {
  background-effect {
    blur true
    xray false
  }
}

