
window-rule {
    match title=r#"(?i).*sharing.*screen.*"#
    open-floating false
    
}


window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    tiled-state true
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match title=r#"(?i).*workfolio*"#
    open-floating false
    open-on-workspace "workfolio"
}


window-rule {
    match title="Workfolio*"
    open-floating false
    open-on-workspace "workfolio"
}

window-rule {
    match title=r#"(?i).*meet.google.com *"#
    open-floating false
    open-on-workspace "workfolio"
    open-focused false
}




window-rule{
  match title="Calculator"
  match app-id="org.gnome.Calculator"
  open-floating true
  default-column-width {proportion 0.10;}
  default-window-height {fixed 200;}
  open-focused true
default-floating-position x=0 y=200 relative-to="top"
}




window-rule{
  match title="Thunar"
  match app-id="thunar"
  open-floating true 
  open-focused true
  default-column-width {proportion 0.80;}
  default-window-height {fixed 700;}
 match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

}





window-rule{
  match title="^Home*"
  match app-id="^org.gnome.Nautilus*"
  open-floating true 
  open-focused true
  default-column-width {proportion 0.80;}
  default-window-height {fixed 700;}
  match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}





window-rule {
  match title="yazi-float"
  open-floating true 
  open-focused true
  default-column-width {proportion 0.80;}
  default-window-height {fixed 700;}
 match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

}

window-rule{
  match is-active=false
  opacity 0.95
}


window-rule{
  match is-active=true
  opacity 1.0
}


window-rule {
  match title="float-term" 
  open-floating true 
  open-focused true
  default-column-width {proportion 0.60;}
  default-window-height {fixed 500;}
 match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

}



window-rule {
  match title="Popsicle"
  match app-id="^AppRun.wrapped*" 
  default-column-width {proportion 0.20;}
  default-window-height {fixed 300;}
  open-floating true
  open-focused true
}




window-rule {
  match title="btop-float"
  open-floating true 
  default-column-width {proportion 0.80;}
  default-window-height {fixed 700;}
  open-focused true
 match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

}




