layout {

    focus-ring {
        active-color   "#bd93f9"
        inactive-color "#282a36"
        urgent-color   "#ff5555"
    }

    border {
        active-color   "#bd93f9"
        inactive-color "#282a36"
        urgent-color   "#ff5555"
    }


    tab-indicator {
        active-color   "#bd93f9"
        inactive-color "#5b0ad0"
        urgent-color   "#ff5555"
    }

    insert-hint {
        color "#bd93f980"
    }
}

recent-windows {
    highlight {
        active-color "#bd93f9"
        urgent-color "#ff5555"
    }
}
