
prefer-no-csd
include "./conf.d/displays.kdl"
include "./conf.d/animation.kdl"
include "./conf.d/inputs.kdl"
include "./conf.d/layout.kdl"
include "./conf.d/window_rules.kdl"
include "./conf.d/keybinds.kdl"
include "./conf.d/workspaces.kdl"
include "./conf.d/startup.kdl"
include "./conf.d/appearance.kdl"
include "./conf.d/rules.kdl"
include "./noctalia.kdl"

include "~/.config/niri/noctalia.kdl"
