[Unit]
Description=Kanata keyboard remapper
After=systemd-udevd.service

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/kanata.kbd
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
